listen_addresses = '*'
wal_level = hot_standby
archive_mode = on
archive_command = 'test ! -f /var/lib/postgresql/16/main/archive/%f && cp %p /var/lib/postgresql/16/main/archive/%f'
max_wal_senders = 5
wal_sender_timeout = 60s
logging_collector = on
log_directory = 'logs'
log_filename = 'postgresql-%Y-%m-%d.log'
log_truncate_on_rotation = on
log_rotation_age = '1d'
log_rotation_size = '10MB'
log_destination = 'stderr,csvlog'
log_timezone = 'UTC'
log_line_prefix = '%t [%p-%l] %q%u@%d '
log_statement = 'all'
log_min_duration_statement = 1000

